* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f9f7fc;
    color: #333;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 15px 50px;
    background: #b39ddb;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li a {
    margin-left: 20px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.logo {
    color: white;
}

.hero {
    text-align: center;
    padding: 80px 20px;
}

.hero span {
    color: #7e57c2;
}

.section {
    padding: 60px 20px;
    text-align: center;
}

.skills span {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    background: #d1c4e9;
    border-radius: 20px;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    background: white;
    padding: 20px;
    margin: 15px;
    width: 250px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

form {
    max-width: 400px;
    margin: auto;
}

form input, form textarea {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
}

button {
    background: #7e57c2;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

footer {
    background: #b39ddb;
    text-align: center;
    padding: 10px;
    color: white;
}

/* Responsive */
@media(max-width: 768px) {
    nav {
        flex-direction: column;
        align-items: center;
    }

    .projects {
        flex-direction: column;
    }
}
.profile-pic {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #7e57c2;
    margin-bottom: 15px;
}
